<%= form_with(model: idea1, local: true) do |form| %>
  <% if idea1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea1.errors.count, "error") %> prohibited this idea1 from being saved:</h2>

      <ul>
      <% idea1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :idea1_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :idea1_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :idea1_picture %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :idea1_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
